.info-btn {
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    background-color: white;
    border: 4.5px solid black;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    font-size: 2.7rem;
    cursor: pointer;
}

.info-panel {
    background-color: rgb(20, 25, 31);
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 8px rgb(131, 131, 131);
    width: 100vw;
    padding: 1em 3em 1em 1em;

    .close-btn {
        position: absolute;
        top: .5rem;
        right: .5rem;
        width: 2rem;
        height: 2rem;

        color: white;
        font-size: 1.5rem;

        :hover {
            color: rgb(80, 147, 253);
            cursor: pointer;
        }
    }
}