$section-color-top: rgb(98, 103, 115);
$section-color-bottom: rgb(76, 80, 89);

$heading-color-top: rgb(67, 136, 239);
$heading-color-botttom: rgb(50, 119, 223);

$dark-background: rgb(20, 25, 31);
$border: rgb(61, 61, 61);

html {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;

    @media only screen and (max-width: 500px) {
        font-size: 13px;
    }
    @media only screen and (max-width: 400px) {
        font-size: 10px;
    }
}
* {
    box-sizing: border-box;
}

.section {
    background: linear-gradient($section-color-top, $section-color-bottom);
    border-radius: 10px;
    border: 1.5px solid $border;
    max-width: 900px;
    margin: 0 auto 1.5rem;
    box-shadow: 0 0 8px rgb(131, 131, 131);
}
.editor-section {
    max-width: 700px;
    height: 22rem;

    #editor {
        background: none;
        padding: 1em;
        width: 100%;
        height: 85%;
        resize: none;
        border: none;
        outline: none;
        box-shadow: none;
        color: inherit;
        font-weight: 600;
    }
}
.preview-section {
    min-height: 10rem;

    #preview {
        text-align: left;
        padding: 1rem;
    }
}
.section-heading {
    font-size: 1.4rem;
    background: linear-gradient($heading-color-top, $heading-color-botttom);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: 1.5px solid $border;
    padding: 0.3em;
}

.ph {
    position: relative;
    top: 0.22em;
    margin: 0 .3em;
    font-size: 1.2em;
}

blockquote {
    border-left: 5px solid $border;
    padding-left: 1em;
}
pre, code {
    background: $dark-background;
    border-radius: 6px;
    padding: .3em;
}
pre {
    padding: 1em;
}
th {
    font-weight: 900;
}
table {
    border-collapse: collapse;
    * {
        border: 2px solid $border;
        padding: .3em;
    }
}
img {
    max-width: 100%;
}